.header {
    background-color: #333; /* Цвет фона заголовка, темно-серый */
    color: #fff; /* Цвет текста заголовка, белый */
    padding: 1rem; /* Отступы вокруг содержимого заголовка */

}

.nav {
    display: flex; /* Использует flexbox для размещения элементов навигации в строку */
    justify-content: flex-end; /* Выравнивает навигационные элементы по правому краю */
}

.nav-list {
    list-style: none; /* Убирает стандартные маркеры списка */
    margin: 0; /* Убирает внешние отступы списка */
    padding: 0; /* Убирает внутренние отступы списка */
    display: flex; /* Использует flexbox для размещения элементов списка в строку */
}

.nav-item {
    margin: 0 1rem; /* Отступы между элементами списка по горизонтали */
}

.nav-link {
    color: #fff; /* Цвет текста ссылок, белый */
    text-decoration: none; /* Убирает подчеркивание ссылок */
    font-size: 1.2rem; /* Размер шрифта ссылок */
}